<%= bootstrap_form_for(@tournament) do |f| %>
  <% if @tournament.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@tournament.errors.count, "error") %> prohibited this game from being saved:</h2>

      <ul>
      <% @tournament.errors.full_messages.each do |message| %>btn btn-default
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.text_field :name %>

    <%= f.date_field :start_at %>
    <%= f.date_field :end_at %>
    
    <%= f.number_field :max_player %>
  </div>	
  <div class="actions">
    <%= f.submit "create ", :class => "btn btn-default" %>
  </div>
<% end %>
