<h2> <%= @tournament.name %></h2>
<table class="table">
	<tr><td>Address : </td><td><%= @tournament.address %></td></tr>
	<tr><td>Start : </td><td><%= @tournament.start_at.to_time.strftime('%e %B %Y') %></td></tr>
	<tr><td>End : </td><td><%= @tournament.end_at.to_time.strftime('%e %B %Y') %></td></tr>
	<tr><td>
		<h3> Games </h3>
		<ul>
			<% @tournament.games.each do |game| %>
				<li><%= game.title %> </li>
			<% end %>
		</ul>
	</td></tr>
</table>
<% if logged_in?%>
	<% if @tournament.can_subscribe?(@tournament, current_user) %>
		<p><%= link_to "Register to the tournament", tournament_register_path %></p> 
	<% end %>	
<% end %>

<%= link_to 'Back', tournaments_path %>
