<div class="row row-offcanvas row-offcanvas-right">
      <h1>Listing games</h1>
      <table class="table">
            <% @games.each_with_index do |game, index| %>
            	<tr>
					 <% if game.image? %><td><%= link_to image_tag(game.image_url.to_s, :class => 'poster'), game_path(game.id)%></td> <% end %>
					  <td>
					  	<strong>Title :</strong><%= game.title %><br/>
	                    <strong>Note :</strong><%= game.note %><br/>
	                    <strong>Actions :</strong>
	                    	<%= link_to 'Show ', game %>
	                        <% if game.owned_by? current_user %>    
	                            <%= link_to 'Edit ', edit_game_path(game) %>
	                            <%= link_to 'Destroy', game, method: :delete, data: { confirm: 'Are you sure?' } %>
	                        <% end %>
                </tr>  
            <% end %>
       </table>		              
        <br>
    </div>
    <%= link_to image_tag("new_game.png"), new_game_path %>
</div>

