<div class="row row-offcanvas row-offcanvas-right">
  <div class="col-xs-12 col-sm-9">
      <h1>Listing games</h1>
            <% @games.each_with_index do |game, index| %>
              <div class="col-6 col-sm-6 col-lg-4">
                  <table>
						<%= image_tag game.image_url.to_s, :class => 'poster'%>
                        <tr><td><strong>Title :</strong></td><td><%= game.title %></td></tr>
                        <tr><td><strong>Note :</strong></td><td><%= game.note %></td></tr>
                        <tr>
                            <td><strong>Actions :</strong></td>
                            <td><%= link_to 'Show ', game %></td>
                        <% if current_user && current_user.id == game.user.id %>    
                            <td><%= link_to 'Edit ', edit_game_path(game) %></td>
                            <td><%= link_to 'Destroy', game, method: :delete, data: { confirm: 'Are you sure?' } %></td>
                        <% end %>
                        </tr>

                   </table>
               </div>
            <% end %>

        <br>
    </div>
</div>
<%= link_to 'New Game', new_game_path %>
