<table class="table">
 <% if @game.image? %><tr><td> <%= image_tag @game.image_url.to_s %> </td></tr><% end %>
  <tr>
  	<td><strong>Title :</strong> <%= @game.title %></td>
  </tr>
  <tr>
  	<td><strong>Note :</strong> <%= @game.note %></td>
  </tr>
</table>
<strong >Comments :</strong>
  <table class="table">
    <% @game.comments.each do |comment| %>
        <tr><td>"<%= comment.text %>"<cite> by <%= comment.user.email %></cite></td></tr>
    <% end %>
  </table>
  <%= render :file => "app/views/comments/new"%>
</p>



<% if @game.owned_by? current_user %>
	<%= link_to 'Edit', edit_game_path(@game) %> 
<% end %>
<%= link_to 'Back', games_path %> <br><br>
<%= render 'notify_friend' %>