<%= image_tag @game.image_url.to_s %>
<p>
  <strong>Title:</strong>
  <%= @game.title %>
</p>

<p>
  <strong>Note:</strong>
  <%= @game.note %>
</p>
<p>
<strong >Comments :</strong>
  <table>
    <% @game.comments.each do |comment| %>
        <tr><td><%= comment.text %></td></tr>
    <% end %>
        <tr><td>
          <%= form_for(@comment=Comment.new) do |f| %>
              <div class="field">
                <%= f.text_field :text %><br/>
                <%= f.hidden_field :game_id, :value => @game.id%>
              </div>
              <div class="actions">
                <%= f.submit %>
              </div>
          <% end %>
        </td></tr>
  </table>
</p>



<%= link_to 'Edit', edit_game_path(@game) %> |
<%= link_to 'Back', games_path %>
