<% unless @matches.empty? %>
	<table class="table">
		<tr>
			<th><%= sortable "tournament_id" %></th>
			<th><%= sortable "player_one_id" %></th>
			<th><%= sortable "player_two_id" %></th>
			<th><%= sortable "game_id" %></th>
			<th>Score</th>
		</tr>
		<% @matches.each do |match| %>
			<tr>
				<td><%= match.tournament.name %></td>
				<td>
					<%if match.score_one == 3 %>
						<span class="win">	
					<% elsif match.score_on == 1 %>
						<span class="draw">
					<% else %>
						<span class="loose">
					<% end %>	
						<%= match.player_one.email %>
						</span>
				</td>
				<td>
					<%if match.score_two == 3 %>
						<span class="win">	
					<% elsif match.score_two == 1 %>
						<span class="draw">
					<% else %>
						<span class="loose">
					<% end %>	
						<%= match.player_two.email %>
						</span>
				</td>
				<td><%= match.game.title %></td>
				<td>
					<% if match.score_one %>
						<%= match.score_one%> - <%= match.score_two%>
					<% else %>
						Currently, not played
					<% end %>
				</td>
				
			</td></tr>
		<% end %>
	</table>
<% else %>
	No match found ! 
<% end %>