<% unless @matches.empty? %>
	<table class="table">
		<tr>
			<th><%= sortable "player_one_id" %></th>
			<th><%= sortable "player_two_id" %></th>
			<th><%= sortable "game_id" %></th>
			<th>Score</th>
		</tr>
		<% @matches.each do |match| %>
			<tr>
				<td><%= match.player_one.email %></td>
				<td><%= match.player_two.email %></td>
				<td><%= match.game.title %></td>
				<td>
					<% if match.score_one %>
						<%= match.score_one%> - <%= match.score_two%>
					<% else %>
						Currently, not played
					<% end %>
				</td>
				
			</td></tr>
		<% end %>
	</table>
<% else %>
	No match found ! 
<% end %>