<h1><%= @tournament.name %></h1>
<% unless @matches.empty? %>
	<h2>Matches list : </h2>
	<table class="table">
		<tr>
			<th>Player One</th>
			<th>Player Two</th>
			<th>Game</th>
		</tr>
		<% @matches.each do  |match|%>
			<%= form_for([@tournament, match]) do |f| %>
				<tr>
					<td><%= match.player_one.email %>
					<%= f.select(:score_one, options_for_select(['3', "1", "0"])) %></td>
					<td><%= match.player_two.email %>
					<%= f.select(:score_two, options_for_select(['3', "1", "0"])) %></td>
					<td><%= match.game.title %></td>
					<%= f.hidden_field :id, :value => match.id%>
					<td><%= f.submit "Save the score", :class => "btn btn-default"%> <%= match.id %></td>
			<% end %>
					
					</td>
				</tr>
		<% end %>
	</table>
<% end %>
<h2>New Match </h2>
<%= form_for([@tournament, @matches.new]) do |f| %>
	<%= collection_select(:match, :player_one_id, @tournament.users, :id, :email)%>
	VS
	<%= collection_select(:match, :player_two_id, @tournament.users, :id, :email)%>
	On : <%= collection_select(:match, :game_id, @tournament.games, :id, :title)%> 
	<%= f.submit "Create the match", :class => "btn btn-default"%>
	<br/>&nbsp
<% end %>


