<% unless @matches.empty? %>
<h2>My matches :</h2> 
	<table class="table">
		<% @matches.each do |match| %>
			<tr><td>
				<%= match.player_one.email %>
				<strong>vs</strong>
				<%= match.player_two.email %>
				<strong>on</strong>
				<%= match.game.title %>
				-- Score : <%= match.score_one%> - <%= match.score_two%>
				
			</td></tr>
		<% end %>
	</table>
<% else %>
	No match found ! 
<% end %>

