<!DOCTYPE html>
<html>
<head>
  <title>Rails Game</title>
  <link href="/assets/favicon.png" rel="shortcut icon"/>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
	<div class="banner">
		<center><%= image_tag("banner.png", :alt =>"banner", :class => "img-banner")%></center>
	</div>
<% if notice %>
  <p class="alert alert-success"><%= notice %></p>
<% end %>
<% if alert %>
  <p class="alert alert-danger"><%= alert %></p>
<% end %>


<div id="user_nav">
	<% unless current_user %>
		<%= link_to "Sign in with Facebook", "/auth/facebook", id: "sign_in" %> <br/>
		<%= link_to "Sign in", login_path %> <br/>
		<%= link_to "Sign up", new_user_path %>
	<% else %>
		<% if current_user.provider %>
			Signed in as <strong><%= current_user.name %></strong>! <%= link_to 'sign out', logout_path%>
		<% else %>
			Bonjour, <%= current_user.email %>, <%= link_to 'sign out', logout_path%>
		<% end %>
	<% end %>
</div>
			
			
		
</div>

<div class="container">
    <%= yield %>
</div>
	<div class="footer">
		<center><%= image_tag("footer.png", :alt =>"banner", :class => "img-footer")%></center>
	</div>
</body>
</html>
